# Waiting Time Forecast: EDA

## Imports and Dependencies

In [144]:
import pandas as pd
import numpy as np
import os

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## 1. Load Data

In [145]:
data_dir = "../data"

attendance_file = "attendance.csv"
entity_file = "entity_schedule.csv"
link_attraction_file = "link_attraction_park.csv"
parade_file = "parade_night_show.xlsx"
waiting_file = "waiting_times.csv"
weather_file = "weather_data.csv"

In [146]:
attendance = pd.read_csv(os.path.join(data_dir, attendance_file))
closing = pd.read_csv(os.path.join(data_dir, entity_file))
link_attraction = pd.read_csv(os.path.join(data_dir, link_attraction_file), sep=";")
parade = pd.read_excel(os.path.join(data_dir, parade_file))
waiting = pd.read_csv(os.path.join(data_dir, waiting_file))
weather = pd.read_csv(os.path.join(data_dir, weather_file))

### 1.1 Attendance

In [147]:
attendance.head()

   USAGE_DATE       FACILITY_NAME  attendance
0  2018-06-01  PortAventura World       46804
1  2018-06-01      Tivoli Gardens       20420
2  2018-06-02  PortAventura World       57940
3  2018-06-02      Tivoli Gardens       29110
4  2018-06-03  PortAventura World       44365

In [148]:
attendance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2367 entries, 0 to 2366
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   USAGE_DATE     2367 non-null   object
 1   FACILITY_NAME  2367 non-null   object
 2   attendance     2367 non-null   int64
dtypes: int64(1), object(2)
memory usage: 55.6+ KB

In [149]:
attendance["FACILITY_NAME"].unique()

array(['PortAventura World', 'Tivoli Gardens'], dtype=object)

In [150]:
attendance["USAGE_DATE"] = pd.to_datetime(attendance["USAGE_DATE"], format="%Y-%m-%d")
attendance = attendance[attendance["FACILITY_NAME"] == "PortAventura World"]
attendance.drop(columns=["FACILITY_NAME"], inplace=True)
attendance

     USAGE_DATE  attendance
0    2018-06-01       46804
2    2018-06-02       57940
4    2018-06-03       44365
6    2018-06-04       37617
8    2018-06-05       32438
...         ...         ...
2357 2022-07-22       49586
2359 2022-07-23       51748
2361 2022-07-24       45261
2363 2022-07-25       53764
2365 2022-07-26       26391

[1182 rows x 2 columns]

### 1.2 Attraction Park Mapping

In [151]:
link_attraction.head()

       ATTRACTION                PARK
0  Aeroplane Ride      Tivoli Gardens
1     Bumper Cars  PortAventura World
2     Bungee Jump  PortAventura World
3    Circus Train  PortAventura World
4       Crazy Bus      Tivoli Gardens

In [152]:
link_attraction["PARK"].unique()

array(['Tivoli Gardens', 'PortAventura World'], dtype=object)

### 1.3 Closing

In [153]:
closing.head()

,REF_CLOSING_DESCRIPTION,ENTITY_DESCRIPTION_SHORT,ENTITY_TYPE,DEB_TIME,FIN_TIME,UPDATE_TIME,WORK_DATE
0,NaN,Tivoli Gardens,PARK,2018-11-19 10:00:00.000,2018-11-19 18:00:00.000,2018-11-20 08:24:32.000,2018-11-19
1,NaN,Dizzy Dropper,ATTR,2022-04-07 08:30:00.000,2022-04-07 22:04:00.000,2022-04-08 08:00:30.000,2022-04-07
2,NaN,Sling Shot,ATTR,2018-03-28 08:37:00.000,2018-03-28 18:12:00.000,2018-03-29 08:24:37.000,2018-03-28
3,NaN,Gondola,ATTR,2019-04-11 09:55:00.000,2019-04-11 20:19:00.000,2019-04-12 08:59:29.000,2019-04-11
4,NaN,Monorail,ATTR,2019-06-29 08:30:00.000,2019-06-29 20:35:00.000,2019-06-30 08:14:16.000,2019-06-29

In [154]:
closing = closing[closing["ENTITY_DESCRIPTION_SHORT"] != "Tivoli Gardens"]

In [155]:
closing = closing.merge(
    link_attraction,
    how="left",
    left_on="ENTITY_DESCRIPTION_SHORT",
    right_on="ATTRACTION",
).drop(columns=["ATTRACTION"])
closing

,REF_CLOSING_DESCRIPTION,ENTITY_DESCRIPTION_SHORT,ENTITY_TYPE,DEB_TIME,FIN_TIME,UPDATE_TIME,WORK_DATE,PARK
0,NaN,Dizzy Dropper,ATTR,2022-04-07 08:30:00.000,2022-04-07 22:04:00.000,2022-04-08 08:00:30.000,2022-04-07,PortAventura World
1,NaN,Sling Shot,ATTR,2018-03-28 08:37:00.000,2018-03-28 18:12:00.000,2018-03-29 08:24:37.000,2018-03-28,Tivoli Gardens
2,NaN,Gondola,ATTR,2019-04-11 09:55:00.000,2019-04-11 20:19:00.000,2019-04-12 08:59:29.000,2019-04-11,Tivoli Gardens
3,NaN,Monorail,ATTR,2019-06-29 08:30:00.000,2019-06-29 20:35:00.000,2019-06-30 08:14:16.000,2019-06-29,Tivoli Gardens
4,Fermeture Réhab,Top Spin,ATTR,2019-04-07 23:59:00.000,2019-04-07 23:59:00.000,2019-04-08 07:40:04.000,2019-04-07,Tivoli Gardens
...,...,...,...,...,...,...,...,...
36438,NaN,Log Flume,ATTR,2022-08-20 08:25:00.000,2022-08-20 23:09:00.000,2022-08-21 09:16:50.000,2022-08-20,Tivoli Gardens
36439,Fermeture Réhab,Giga Coaster,ATTR,2022-08-20 23:59:00.000,2022-08-20 23:59:00.000,2022-08-21 09:16:53.000,2022-08-20,PortAventura World
36440,NaN,Inverted Coaster,ATTR,2022-08-20 09:30:00.000,2022-08-20 17:48:00.000,2022-08-21 09:16:55.000,2022-08-20,PortAventura World
36441,NaN,Inverted Coaster,ATTR,2022-08-22 09:20:00.000,2022-08-22 17:54:00.000,2022-08-23 09:02:42.000,2022-08-22,PortAventura World
36442,NaN,Go-Karts,ATTR,2022-08-22 08:30:00.000,2022-08-22 23:05:00.000,2022-08-23 09:02:36.000,2022-08-22,PortAventura World

In [156]:
closing = closing[closing["PARK"] != "Tivoli Gardens"]
closing.drop(columns=["PARK"], inplace=True)

C:\Users\dorab\AppData\Local\Temp\ipykernel_25316\925142589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing.drop(columns=["PARK"], inplace=True)

In [157]:
closing.drop(columns=["UPDATE_TIME"], inplace=True)

closing["DEB_TIME"] = pd.to_datetime(closing["DEB_TIME"])
closing["FIN_TIME"] = pd.to_datetime(closing["FIN_TIME"])
closing["WORK_DATE"] = pd.to_datetime(closing["WORK_DATE"])

C:\Users\dorab\AppData\Local\Temp\ipykernel_25316\4213642292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing.drop(columns=["UPDATE_TIME"], inplace=True)
C:\Users\dorab\AppData\Local\Temp\ipykernel_25316\4213642292.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing["DEB_TIME"] = pd.to_datetime(closing["DEB_TIME"])
C:\Users\dorab\AppData\Local\Temp\ipykernel_25316\4213642292.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing["FIN_TIME"] = pd.to_datetime(closing["FIN_TIME"])
C:\Users\dorab\AppData\Local\Temp\ipykernel_25316\4213642292.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  closing["WORK_DATE"] = pd.to_datetime(closing["WORK_DATE"])

In [158]:
closing.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25215 entries, 0 to 36442
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   REF_CLOSING_DESCRIPTION   2769 non-null   object
 1   ENTITY_DESCRIPTION_SHORT  25215 non-null  object
 2   ENTITY_TYPE               25215 non-null  object
 3   DEB_TIME                  25215 non-null  datetime64[ns]
 4   FIN_TIME                  25215 non-null  datetime64[ns]
 5   WORK_DATE                 25215 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(3)
memory usage: 1.3+ MB

### 1.4 Parade

In [159]:
parade.drop(columns=["Unnamed: 0"], inplace=True)
parade.head()

   WORK_DATE NIGHT_SHOW  PARADE_1  PARADE_2
0 2018-10-01   20:00:00  17:30:00  12:10:00
1 2018-10-02   20:00:00  17:30:00  12:10:00
2 2018-10-03   20:00:00  17:30:00  12:10:00
3 2018-10-04   20:00:00  17:30:00  12:10:00
4 2018-10-05   20:00:00  17:30:00  12:10:00

In [160]:
# Columns to adjust
time_columns = ["NIGHT_SHOW", "PARADE_1", "PARADE_2"]

# Update the time columns
for col in time_columns:
    parade[col] = pd.to_datetime(parade[col], format="%H:%M:%S").dt.time  # Extract time
    parade[col] = parade["WORK_DATE"] + pd.to_timedelta(
        parade[col].astype(str)
    )  # Combine WORK_DATE with time

# Ensure the final format is datetime
parade[time_columns] = parade[time_columns].apply(pd.to_datetime)

In [162]:
parade

     WORK_DATE          NIGHT_SHOW            PARADE_1            PARADE_2
0   2018-10-01 2018-10-01 20:00:00 2018-10-01 17:30:00 2018-10-01 12:10:00
1   2018-10-02 2018-10-02 20:00:00 2018-10-02 17:30:00 2018-10-02 12:10:00
2   2018-10-03 2018-10-03 20:00:00 2018-10-03 17:30:00 2018-10-03 12:10:00
3   2018-10-04 2018-10-04 20:00:00 2018-10-04 17:30:00 2018-10-04 12:10:00
4   2018-10-05 2018-10-05 20:00:00 2018-10-05 17:30:00 2018-10-05 12:10:00
..         ...                 ...                 ...                 ...
666 2022-08-14 2022-08-14 23:00:00 2022-08-14 17:30:00                 NaT
667 2022-08-15 2022-08-15 23:00:00 2022-08-15 17:30:00                 NaT
668 2022-08-16 2022-08-16 23:00:00 2022-08-16 17:30:00                 NaT
669 2022-08-17 2022-08-17 23:00:00 2022-08-17 17:30:00                 NaT
670 2022-08-18 2022-08-18 23:00:00 2022-08-18 17:30:00                 NaT

[671 rows x 4 columns]

In [161]:
parade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WORK_DATE   671 non-null    datetime64[ns]
 1   NIGHT_SHOW  671 non-null    datetime64[ns]
 2   PARADE_1    671 non-null    datetime64[ns]
 3   PARADE_2    190 non-null    datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 21.1 KB

### 1.5 Waiting

In [164]:
waiting

,WORK_DATE,DEB_TIME,DEB_TIME_HOUR,FIN_TIME,ENTITY_DESCRIPTION_SHORT,WAIT_TIME_MAX,NB_UNITS,GUEST_CARRIED,CAPACITY,ADJUST_CAPACITY,OPEN_TIME,UP_TIME,DOWNTIME,NB_MAX_UNIT
0,2018-01-01,2018-01-01 21:00:00.000,21,2018-01-01 21:15:00.000,Roller Coaster,0,2.0,0.0,0.000,0.00,0,0,0,2.0
1,2018-01-01,2018-01-01 19:30:00.000,19,2018-01-01 19:45:00.000,Bumper Cars,5,18.0,148.0,254.749,254.75,15,15,0,18.0
2,2018-01-01,2018-01-01 22:30:00.000,22,2018-01-01 22:45:00.000,Rapids Ride,0,1.0,0.0,0.000,0.00,0,0,0,2.0
3,2018-01-01,2018-01-01 12:45:00.000,12,2018-01-01 13:00:00.000,Crazy Dance,5,1.0,46.0,250.001,250.00,15,15,0,1.0
4,2018-01-01,2018-01-01 17:00:00.000,17,2018-01-01 17:15:00.000,Skyway,5,15.0,92.0,211.500,198.25,15,15,0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3509319,2022-08-18,2022-08-18 18:45:00.000,18,2022-08-18 19:00:00.000,Himalaya Ride,0,0.0,0.0,0.000,0.00,0,0,0,1.0
3509320,2022-08-18,2022-08-18 10:15:00.000,10,2022-08-18 10:30:00.000,Crazy Dance,0,0.0,0.0,0.000,0.00,0,0,0,1.0
3509321,2022-08-18,2022-08-18 09:15:00.000,9,2022-08-18 09:30:00.000,Crazy Dance,0,0.0,0.0,0.000,0.00,0,0,0,1.0
3509322,2022-08-18,2022-08-18 20:30:00.000,20,2022-08-18 20:45:00.000,Giga Coaster,0,0.0,0.0,0.000,0.00,0,0,0,24.0
3509323,2022-08-18,2022-08-18 10:45:00.000,10,2022-08-18 11:00:00.000,Oz Theatre,0,2.0,0.0,0.000,0.00,0,0,0,2.0

In [167]:
waiting["WORK_DATE"] = pd.to_datetime(waiting["WORK_DATE"], format="%Y-%m-%d")
waiting["FIN_TIME"] = pd.to_datetime(waiting["FIN_TIME"], format="%Y-%m-%d %H:%M:%S.%f")
waiting["DEB_TIME"] = pd.to_datetime(waiting["DEB_TIME"], format="%Y-%m-%d %H:%M:%S.%f")

In [168]:
waiting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3509324 entries, 0 to 3509323
Data columns (total 14 columns):
 #   Column                    Dtype
---  ------                    -----
 0   WORK_DATE                 datetime64[ns]
 1   DEB_TIME                  datetime64[ns]
 2   DEB_TIME_HOUR             int64
 3   FIN_TIME                  datetime64[ns]
 4   ENTITY_DESCRIPTION_SHORT  object
 5   WAIT_TIME_MAX             int64
 6   NB_UNITS                  float64
 7   GUEST_CARRIED             float64
 8   CAPACITY                  float64
 9   ADJUST_CAPACITY           float64
 10  OPEN_TIME                 int64
 11  UP_TIME                   int64
 12  DOWNTIME                  int64
 13  NB_MAX_UNIT               float64
dtypes: datetime64[ns](3), float64(5), int64(5), object(1)
memory usage: 374.8+ MB

### 1.6 Weather

In [91]:
weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,915148800,1999-01-01 00:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,8.33,NaN,3.39,5.28,...,NaN,NaN,NaN,NaN,NaN,8,800,Clear,sky is clear,01n
1,915152400,1999-01-01 01:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,8.08,NaN,3.54,5.18,...,NaN,NaN,NaN,NaN,NaN,6,800,Clear,sky is clear,01n
2,915156000,1999-01-01 02:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,8.08,NaN,4.11,5.38,...,NaN,NaN,NaN,NaN,NaN,14,801,Clouds,few clouds,02n
3,915159600,1999-01-01 03:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,7.31,NaN,3.73,4.42,...,NaN,NaN,NaN,NaN,NaN,39,802,Clouds,scattered clouds,03n
4,915163200,1999-01-01 04:00:00 +0000 UTC,3600,Custom location,48.873492,2.295104,6.91,NaN,3.53,4.00,...,NaN,NaN,NaN,NaN,NaN,52,803,Clouds,broken clouds,04n